html{
    text-align: center;
}
body{
    display:flex;
    flex: 1;
    min-height: 100vh;
    /* justify-content: center; */
    align-items: center;
}
#outer{
    background-color: blue;
    width: 30rem;
    height: 30rem;
    border: 2px solid yellow;
    /* border-radius: 50%; */
    margin: 50px auto;
    position:relative;
    padding: 2rem;
   
}

#inner{
    background-color: rgb(208, 209, 227);
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* transform: translateY(-3px); */


   
}
#hourHand{
    width: 50%;
    height: 5px;
    background-color: rgb(7, 7, 7);
    position: absolute;
    top: 50%;
    /* transition: 10000ms; */
    /* transform: rotate(90deg); */
    transform-origin: 100%;
    animation: rotate 60s;
}

@keyframes rotate{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(90deg);}
}


#minuteHand{
    width: 50%;
    height: 4px;
    background-color: rgb(24, 237, 21);
    position: absolute;
    top: 50%;
    /* transition: 10000ms; */
    transform: rotate(90deg);
    transform-origin: 100%;
}
#secHand{
    width: 50%;
    height: 2px;
    background-color: rgb(240, 29, 29);
    position: absolute;
    top: 50%;
    /* transition: 10000ms; */
    transform: rotate(90deg);
    transform-origin: 100%;
}