html{
    text-align: center;
}
body{
    background: url(GMAIL.jpg);
    background-attachment: fixed;
    backdrop-filter: blur(3px);
    display:flex;
    flex: 1;
    min-height: 100vh;
    /* justify-content: center; */
    align-items: center;
    /* overflow-y: hidden; */
}
#outer{
    background-color: blue;
    width: 30rem;
    height: 30rem;
    border: 2px solid rgb(17, 34, 46);
    border-radius: 2%;
    margin: 50px auto;
    position:relative;
    padding: 1rem;
   
}

#inner{
    background-color: rgb(142, 143, 165);
    /* background: transparent; */
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* transform: translateY(-3px); */


   
}

.hands{
    width: 50%; 
    position: absolute;
    top: 50%;  
    transform: rotate(90deg);
    transform-origin: 100%;
    transition: all 0.05s;
    transition-timing-function:  cubic-bezier(.68,-0.55,.27,1.55);
}
#hourHand{
    height: 5px;
    background-color: rgb(7, 7, 7);
   
    /* animation: hour 216000s linear; */
    /* animation-iteration-count: infinite; */
}


#minuteHand{
    height: 4px;
    background-color: rgb(61, 72, 61);
    /* animation: minute 3600s linear; */
    /* animation-iteration-count: infinite; */
}
#secHand{ 
    height: 2px;
    background-color: rgb(107, 100, 100);
    /* transform: rotate(50deg); */
    /* animation: second 60s linear; */
    /* animation-iteration-count: infinite; */
}

/* @keyframes hour{ */
    /* from{transform: rotate(90deg);} */
    /* to{transform: rotate(450deg);} */
/* } */
/* @keyframes minute{ */
    /* from{transform: rotate(90deg);} */
    /* to{transform: rotate(450deg);} */
/* } */
/* @keyframes second{ */
    /* from{transform: rotate(90deg);} */
    /* to{transform: rotate(450deg);} */
/* } */


#time{
    width: 10rem;
    height: 3rem;
    /* background-color: rgb(0, 4, 255); */
    border: 2px solid rgb(185, 211, 229);
    border-radius: 3px;
   position: absolute;
   top: 9%;
   left: 75%;
   color: whitesmoke;
   font-size: 18pt;
   font-weight: 600;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   padding-top: 1.5rem;
}